{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu de Van Gogh</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'img/lua.gif' %}" alt="Lua GIF">
        <h1 class="title">Museu</h1>
    </header>

    <main>
        <section>
           <div>
            <h2 class="text">Pinturas de Van Gogh</h2>
           </div>
        </section>
        
        <section>
            <div class="image">
                <figure class="img1">
                    <img src="{% static 'img/noite-estrelada.jpg' %}" alt="Noite Estrelada">
                    <figcaption>Noite Estrelada</figcaption>
                </figure>

                <figure class="img2">
                    <img src="{% static 'img/terraço-cafe.jpeg' %}" alt="Terraço do Café na à Noite">
                    <figcaption>Terraço do Café na à Noite</figcaption>
                </figure>

                <figure>
                    <img src="{% static 'img/quarto.jpeg' %}" alt="O Quarto de Van Gogh em Arles">
                    <figcaption>O Quarto de Van Gogh em Arles</figcaption>
                </figure>
            </div>

            <div class="image2">
                <figure>
                    <img src="{% static 'img/amendoeira.jpeg' %}" alt="Amendoeira em Flor">
                    <figcaption>Amendoeira em Flor</figcaption>
                </figure>

                <figure>
                    <img src="{% static 'img/auto-retrato.jpeg' %}" alt="Auto-Retrato">
                    <figcaption>Auto-Retrato</figcaption>
                </figure>

                <figure>
                    <img src="{% static 'img/campo-trigo.jpeg' %}" alt="Campo de trigo com ciprestes">
                    <figcaption>Campo de trigo com ciprestes</figcaption>
                </figure>
            </div>

            <div class="image3">
                <figure>
                    <img src="{% static 'img/comedores.jpeg' %}" alt="Os Comedores de Batata">
                    <figcaption>Os Comedores de Batata</figcaption>
                </figure>

                <figure>
                    <img src="{% static 'img/caveira.jpeg' %}" alt="Caveira com Cigarro Aceso">
                    <figcaption>Caveira com Cigarro Aceso</figcaption>
                </figure>

                <figure>
                    <img src="{% static 'img/vinha.jpeg' %}" alt="A Vinha Encarnada">
                    <figcaption>A Vinha Encarnada</figcaption>
                </figure>
            </div>

            <div class="image4">
                <figure>
                    <img src="{% static 'img/prisioneiro.jpg' %}" alt="A Ronda dos Prisioneiros">
                    <figcaption>A Ronda dos Prisioneiros</figcaption>
                </figure>

                <figure>
                    <img src="{% static 'img/noite-estrelada2.jpeg' %}" alt="Noite Estrelada Sobre o Ródano">
                    <figcaption>Noite Estrelada Sobre o Ródano</figcaption>
                </figure>

                <figure>
                    <img src="{% static 'img/girassol.jpeg' %}" alt="Os Girassóis">
                    <figcaption>Os Girassóis</figcaption>
                </figure>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 - Página dedicada a Vincent Van Gogh</p>
    </footer>
</body>
</html>
